body {
	padding: 10 px;
}

.p_Negra {
	height: 70px;
	weight: 950px;
	background-color: #666666;
	border-top-left-radius: 7px; 
	border-top-right-radius: 7px;
}

.p_Verde {
	height: 100px;
	weight: 950px;
	background-color: #ADF0C7;
}

.Contenido {
	border-right: 2px solid #666666;
	border-left: 2px solid #666666;
	bottom: 2px solid #666666;
}