body {
	padding: 10 px;
	font-family: sans-serif;
}

@media (max-width: 1000px) and (max-height: 1000px){
	body {
		width: 830px;
	}
}

h3 {
	font-size: 50px;
	font-weight: bold;
	margin: 0 auto;
	color: #2DC75C;
	margin-top: 35px;
}

p:not(.contenido2) {
	font-size: 20px;
	text-align: center;
}

th {
	font-size: 20px;
	text-align: center;
}

@media (max-width: 1000px) and (max-height: 1000px) {
	.p_Negra {
		width: 0px;
		height: 0px;
	}
}
.p_Negra {
	height: 70px;
	background-color: #666666;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
	.p_Verde {
		margin-top: -65px;
	}
}

.p_Verde {
	height: 100px;
	border: 0.1px solid #99B6A4;
	background-color: #ADF0C7;
}

.Contenido {
	border-right: 5px solid #666666;
	border-left: 5px solid #666666;
	border-bottom: 5px solid #666666;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
	margin: 10px;
	font-size: 25px;
	font-weight: bold;

}

@media (max-width: 1000px) and (max-height: 1000px) {
	.elementos1::before {
		display: none;
	}
}

.elementos1::before {
	content: "← ";
	color: whitesmoke;
}

@media (max-width: 1000px) and (max-height: 1000px) {
	.elementos1::after {
		display: none;
	}
}

.elementos1::after {
	content: "→ ";
	color: whitesmoke;
	margin: 5px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
	.elemento2::before {
		display: none;
	}
}

.elemento2::before {
	content: "↻ ";
	color: whitesmoke;
	margin: 15px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
	.elemento3::before {
		display: none;
	}
}

.elemento3::before {
	content: "× ";
	color: whitesmoke;
	font-size: 33px;
	position: relative;
	left: 1320px;
}

.dentro {
	display: flex;
	position: relative;
	left: 15px;
	top: 25px;
	align-items: center;
}

.logo {
	border: 1px solid #99B6A4;
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}


@media (max-width: 1000px) and (max-height: 1000px) {
	.flex2{
		width: 25px;
		height: 25px;
		background-color: #666;
		margin-left: -200px;
	}
}

.flex2 {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 800px;

}

@media (max-width: 1000px) and (max-height: 1000px) {
	.palabra1{
		display: none;
		background: url('../Imágenes/imagen1.png');
		width: 25px;
		height: 25px;
	}
}

.palabra1 {
	margin: 12px;
	font-size: 20px;
}

.contenido2 {
	position: relative;
	top: 120px;
}

.p_Titol {
	height: 450px;
	text-align: center;
}

.Titol {
	color: #2DC75C;
	font-size: 100px;
}

.subtitulo {
	font-size: 20px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	font-style: italic;
	border: 1px solid #99B6A4;
	width: 450px;
	height: 25px;
}

.p_Serveis {
	height: 500px;
	text-align: center;
}

@media (max-width: 1000px) and (max-height: 1000px) {
	.p_Serveis {
		height: 1150px;
	}
	
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px auto;
	gap: 50px;
	padding: 60px;
	position: relative;
	top: -20px;
}


@media (max-width: 1000px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img1"
            "txt1"
            "img2"
            "txt2"
            "img3"
            "txt3";

        padding: 0 200px;    
        margin-top: 20px;
        gap: 40px;     
    }
}

@media (max-width: 1000px) {
	.grid > div {
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 1000px) {

    .grid > div:nth-child(1) { grid-area: img1; }
    .grid > div:nth-child(4) { grid-area: txt1; }

    .grid > div:nth-child(2) { grid-area: img2; }
    .grid > div:nth-child(5) { grid-area: txt2; }

    .grid > div:nth-child(3) { grid-area: img3; }
    .grid > div:nth-child(6) { grid-area: txt3; }
}


.Imagenes1 {
	background: url('../Imágenes/imagen1.png');
	height: 200px;
}

.Imagenes {
	border: 1px solid #666;
	height: 88px;
	position: relative;
	top: 90px;
}

@media (max-width: 1000px) and (max-height: 1000px){
	.Imagenes {
        padding: 20px;
    }

}

.rectangulo {
	border: 1 px solid #666;
}

.p_SNoltros {
	height: 547px;
}

.titulo{
	position: relative;
	left: 750px;
	top: 50px;
}

@media (max-width: 1000px){
	.titulo {
        position: relative;
		left: 320px;
    }

}

.flex3 {
	display: flex;
	flex-direction: row;
	height: 507px;
	margin-top: -9px;
	gap: 200px;
}

.parte_izquierda{
	border: 1px solid #666;
	height: 100%;
	margin: 0px;
	width:  400px;
	height: 590px;
	margin-top: -85px;
}

@media (max-width: 1000px) and (max-height: 1000px){
	.parte_izquierda {
        width: 230px;
    }
}

.dentro_p_izquierda{
	font-size: 30px;
	padding: 165px 20px ;
}

.izquierda1::before {
	content: "| ";
	color: blue;
	font-size: 45px;
}

.izquierda1 {
	margin-bottom: 35px;
	color: blue;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.izquierda3 {
	margin-top: 35px;
	opacity: 0.7;
}

.Nosaltres_flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 250px;
}

@media (max-width: 1000px) and (max-height: 1000px){
	.Nosaltres_flex {
        display: flex;
		flex-direction: column;
		gap: 25px;
		position: relative;
		right: 10px;
		top: 170px;
    }

}

.cuadrado{
	border: 1px solid #666;
	height: 250px;
	width:  200px;
	align-items: center;
	margin-top: 130px;
	display: flex;
	margin-top: -25px;
}

@media (max-width: 1000px) and (max-height: 1000px){
	.cuadrado {
        height: 130px;
    }

}


.flex3_flex{
	display: flex;
	flex-direction: column;
	gap: 70px;
	align-items: center;
}


.Imagen_flex1{
	background: url('../Imágenes/Imagen2.png');
	width:  200px;
	height: 200px;
	align-items: center;
}

@media (max-width: 1000px) and (max-height: 1000px){
	.Imagen_flex1 {
        height: 130px;
		width: 200px;
    }

}

.p_Productes {
	text-align: center;
	height: 400px;
	margin-bottom: 45px;
}

.tabla {
    border-collapse: collapse; 
    width: 700px;
    font-size: 20px;
    text-align: center;
	margin-top: 45px;
	margin: 50px auto;
}

.tabla th {
    background-color: #c1f0c8;
    padding: 10px 15px;
}

.tabla td {
    padding: 12px 15px;
}

.gray-row {
    background-color: #d3d3d3;
}

.tabla th,
.tabla td {
    border: 1px solid #ccc;
}

.cuadrado1 {
    display: flex;
    flex-direction: column;
    align-items: center;     
    width: 100%;
	height: 550px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 220px); 
    gap: 20px;
    justify-content: center;  
    margin-bottom: 40px;
	margin-top: 25px;
}

.grid2 input {
    padding: 12px;
    background: #c8f7d4;
    border: 1px solid #666;
    font-size: 18px;
}

.contenedor-abajo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;           
	padding-right: 120px;  
}


textarea {
    width: 450px; 
	height: 250px;        
    padding: 50pxpx;        
    background-color: #d0f9d7;
    border: 1px solid #98d7a5;
    font-size: 18px;
    resize: vertical;   
    box-sizing: border-box;
}


.enviar {
    height: 60px;        
    padding: 0 25px;
    background-color: #d0f9d7;
    border: 1px solid #98d7a5;
    font-size: 20px;
}

.Último{
	padding: 50px;
}

@media (max-width: 1000px) and (max-height: 1000px){
	.ultimo_flex{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
}

@media (max-width: 1000px) and (max-height: 1000px){
	.ultimo_flex{
		display: flex;
		flex-direction: column;
	}
	
}

.flex_general{
	display: flex;
	flex-direction: row;
	gap: 800px;
}

@media (max-width: 1000px) and (max-height: 1000px){
	.flex_general {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
	
}

.flex1{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.Imagen2_flex1{
	background: url('../Imágenes/Instagram.png');
	width: 50px;
	height: 50px;
}

.Imagen2_flex2 {
	background: url('../Imágenes/facebook.png');
	width: 50px;
	height: 50px;
}

.Imagen2_flex3 {
	background: url('../Imágenes/twitter.png');
	width: 50px;
	height: 50px;
}